# For local development with `docker-compose up`
# Copy this file to .env and customize

DB_NAME=boltmcp
DB_USER=boltmcp
DB_PASSWORD=password
POSTGRES_DATA_PATH=/var/lib/postgresql/data

MCP_SERVER_DB_USER=boltmcp
MCP_SERVER_DB_PASSWORD=password
MCP_SERVER_BASE_URL=http://host.docker.internal:3001

MCP_SERVER_AUTH_CLIENT_ID=boltmcp-mcp-server
MCP_SERVER_AUTH_CLIENT_SECRET=your-client-secret

PLAYGROUND_DB_SCHEMA=boltmcp_playground
PLAYGROUND_DB_USER=playground
PLAYGROUND_DB_PASSWORD=password
PLAYGROUND_BASE_URL=http://host.docker.internal:3002

# Note: this must remain consistent across deployments (data in db will not be readable if it changes)
PLAYGROUND_BETTER_AUTH_SECRET=random-string-here

PLAYGROUND_AUTH_CLIENT_ID=boltmcp-playground
PLAYGROUND_AUTH_CLIENT_SECRET=your-client-secret

PLAYGROUND_OPENAI_API_KEY=xxxxxxxxx # Optional, for use in BoltMCP Playground

SPECS_STORAGE_PATH=/app/storage/specs

OIDC_PROVIDER="keycloak"
OIDC_ISSUER_URL="http://host.docker.internal:8080/realms/master"
OIDC_CLIENT_ID="boltmcp"
OIDC_CLIENT_SECRET="<your-client-secret>" # <--- Update this value from your Keycloak client credentials

AUTH_SECRET="<any-random-string-here>"

NEXTAUTH_URL="http://host.docker.internal:3000"
AUTH_URL="http://host.docker.internal:3000"

KEYCLOAK_HOSTNAME="host.docker.internal"
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=password

# Project name for docker-compose:
COMPOSE_PROJECT_NAME="boltmcp"

MCP_INSPECTOR_BASE_URL="http://localhost:6274"
MCP_INSPECTOR_PROXY_AUTH_TOKEN="any-random-string"